body {
    background-color: #f8f8f8;
    color: #333;
    font-family: Lato, sans-serif;
    font-size: 18px;
}

/* reset parameters for ul tag*/
ul {
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-inline-end: 0
}

.header, 
.entry-form {
    width: 500px;
    margin: 0 auto;
}

.header {
    text-align: right;
}

.header__image {
    width: 100%;
}

.header__addition-information {
    font-family: fantasy, cursive;
    font-size: 16px
}

.entry-form {
    margin-top: 30px;
}

.entry-form__input {
    font-size: 18px;
    line-height: 18px;
    height: 19px;
    padding: 0 9px;
    border: 1px solid #ddd;
    background: #FFF;
    border-radius: 6px;
    color: #888;
    flex-grow: 1;
}

.entry-form__input:focus {
    color: #333;
}

.entry-form__controls {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 35px;
}

.entry-form__add-item 
.entry-form__input {
    flex-shrink: 1;
    flex-basis: auto; 
}

.edit, 
.delete {
    background: none;
    border: 0;
    color: #888;
    font-size: 15px;
    width: 60px;
    cursor: pointer;
}

.edit:hover {
    color: #3a3A3a;
}

.delete img {
    height: 2em;
    transform: rotateZ(45deg);
    transition: transform 200ms ease-in;
}

.delete img:hover {
    transform: rotateZ(0);
}

/* Heading */
h3 {
    color: #333;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 2px solid #333;
    padding: 10px 0 10px;
    margin: 0;
    text-transform: uppercase;
}

/* Task list */
.entry-form__list-item {
    overflow: hidden;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
}

.entry-form__checkbox {
    margin: 0 10px;
}

/* Completed */
#completed-tasks label {
    text-decoration: line-through;
    color: #888
}

/* Edit Task */
.edit-mode .entry-form__input,
.completed-mode .entry-form__input,
.save-mode label {
    display: none;
}

.entry-form__label {
    flex-grow: 1;
    padding-left: 10px;
}